

html {
    display: table;
    margin: auto;
    margin-top: 0;
}
body {
    width: 1500px;
    display: table-cell;
    vertical-align: middle;
}
.header
{
    background-color:aqua;
    border-radius: 4px;
    border: 1px solid #dedede;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055); 
    height: 60px;
}
.user_container
{
   text-align: right;
   padding-left: 650px;
}
menu
{
	color: #888;
	display: block;
	overflow: hidden;
	width: 90%;   
    margin: 0;
}
menu li
{
    display: inline-block;    
    color: #aaa;
    line-height: 60px;
    padding: 0 24px;
	text-decoration: none;
    transition: all 0.2s;
    list-style-type: none;
}
menu li > a:hover 
{
  color: #ddd;  
}
.selected
{
    display: inline-block;    
    color: #aaa;
	line-height: 60px;
	text-decoration: none;
}
.content
{
    min-height: 500px;
    border: 1px solid black;
}
form
{
    margin-top: 100px;
    margin-left: 40px;    
}
.products
{ 
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.table_image
{
    width: 128px;
    border:1px solid #ccc; 
    border-width:1px 1px 0 0; 
}
table td
{
    border:1px solid #ccc; 
    border-width:1px 1px 0 0;
}
.table_button
{
    display:block;
    margin:auto;
}
.page_selector p
{
    text-align: center;
    line-height: 30px;
}