html {
    margin: auto;
    margin-top: 0;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: #2a2730;
    height:100%;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    min-width: 90%;
    margin:0 50px;
    vertical-align: middle;
    min-height: 100%;
}
.header
{
    background-color: #43b05c;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055); 
    height: 60px;
}
.user_container
{
   text-align: right;
   min-width: 30%;
   color: #077c22;
}
.user_container:hover
{
   text-align: right;
   min-width: 30%;
   background-color: #43b05c;
   color: #077c22;
}
menu
{
	color: #888;
	display: inline-block;
	overflow: hidden;
	width: 100%; 
    min-width: 1200px;
    margin: 0;
}
menu li
{
    display: inline-block;    
    color: #aaa;
    line-height: 60px;
    padding: 0 24px;
	text-decoration: none;
    transition: all 0.2s;
    list-style-type: none;
    font-size: 16pt;
}
a
{
    text-decoration: none;  
}
menu li:hover
{
    display: inline-block;    
    color: #aaa;
    background-color: #077c22;
    line-height: 60px;
    padding: 0 24px;
	text-decoration: none;
    transition: all 0.2s;
    list-style-type: none;
}
menu li:hover  a
{
   color: #ddd;  
}
.selected
{
    display: inline-block;    
    color: #077c22;
	line-height: 60px;
	text-decoration: none;
}
select
{
    width:140px;
}

.content
{
    min-height: 600px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #ccc;
    margin: auto; 
}
form
{
    margin-top: 50px;
    margin-left: 20px;    
}
.products
{ 
    padding: 10px;
    border-bottom: 1px solid black;
}
.table_image
{
    width: 128px;
    border:1px solid #ccc; 
}
table td
{
    background-color: #e7e7e7;
    border:1px solid #ccc; 
    border-radius: 4px;
}
.delivery_type
{
    background-color: #e7e7e7;
    border:1px solid #ccc; 
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}
.delivery_type strong
{
    padding-left: 20px;
    text-align: center;
    font-size: 14pt;
}
table th
{
    background-color: #e7e7e7;
    border:1px solid #ccc; 
    border-radius: 4px; 
    font-size: 14pt;
}
.table_button
{
    display:block;
    margin:auto;
}
.page_selector
{
    display:table;
    width:  100%;

}
.page_selector_left
{
    display: inline-block;    
    float:left;
    text-align: left;
    width: 250px;
    padding: 1px;  
}
.page_selector_left a
{ 
    display:inline-block;
    margin-right: 60px;
}
.page_selector_left img
{
    vertical-align:middle; 
    padding-left: 10px;
}
.page_selector_center
{
    height: 100%;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.page_selector_right
{
    display: inline-block;
    text-align: right;
    float:right;
    width: 250px;
    padding: 1px;  
}
.page_selector_right a
{ 
    display:inline-block;
    margin-left: 60px;
}
.empty_cart_text
{
    vertical-align:middle;
    text-align:center;  
}
.page_selector_right img
{ 
    vertical-align:middle;  
    padding-right: 10px;
}
.table_input
{
    text-align: center;
    width: 80px;
    border:1px solid #ccc; 
    border-radius: 4px;
}
h1, h2, h3
{
  padding-left: 10px;
  margin: .67em 0;
  font-size: 2em;
}
p, strong 
{
   padding-left: 20px; 
}
footer
{
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #2a2730;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055); 
    min-height: 80px;
    color: #99979c;
    min-width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer_container
{
    display: table;
    margin-left: auto;
    margin-right: auto;
    min-width: 80%;
}

.footer a
{
    color: #fff;
    padding-left: 0;
    margin-bottom: 20px;
}
.footer p
{
    padding-left: 0;
}
